html
	head
		meta(name="charset" content="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		div(style="font-family:Arial,sans-serif;padding: 20px;line-height: 24px;")
			div(style="margin: 0 0 20px") Almost Done!
			div(style="margin: 0 0 20px") Click the following button to confirm your e-mail & you will be using Vicinity in no time.
			div(style="margin: 0 0 20px;")
				a(href="#{link}" style="text-decoration: none;display: block;width:100%;max-width:300px;min-height:67px;")
					img(src="http://vicinity.getvicinityapp.com/images/buttons/confirm_email@2x.png" style="width:100%;height:auto;")
			div(style="margin: 0 0 20px;")
				| Please,&nbsp;
				a(href="#{link}" style="color: #1FE1E0;text-decoration: underline;font-size: 16px; font-family: Arial,sans-serif;")
					| click here
				| &nbsp;if you do not see the button.
			div(style="margin: 30px 0 20px") Regards,
			div(style="margin: 0 0 20px") The Vicinity Team