html
	head
		meta(name="charset" content="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
	body
		div(style="font-family:Arial,sans-serif;padding: 20px;line-height: 24px;")
			div(style="margin: 0 0 20px;")
				| Please,&nbsp;
				a(
					href="#{fallbackLink}"
					style="color: #1FE1E0;text-decoration: underline;font-size: 16px; font-family: Arial,sans-serif;")
						| click here
				| &nbsp;in order to create a new password for your Vicinity account.
			div(style="margin: 30px 0 20px") Regards,
			div(style="margin: 0 0 20px") The Vicinity Team
			